body {
  background-color: white;
  font-family: "Helvetica", sans-serif;
  overflow-x: hidden;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $mainBlue;
}

a:hover {
  text-decoration: none;
}

p,
ul,
ol {
  margin: 0 0 1.65em 0;
}

p,
li {
  line-height: 1.65;
}
